/* src/styles/global.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-base text-near-black font-roboto;
    font-size: 1.2em;
    border-top: 1em solid #f28ff9;
  }
  p {
    @apply mb-4 text-gray-dark;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-signika font-bold mb-4;
    @apply mt-8;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  a {
    @apply text-gray-dark hover:text-near-black;
  }

  .main-content {
    a, .post-title-single {
      color: #0044aa;
    }
    .buttons {
      a {
        color: white;
        @apply shadow-sm;
      }
    }
    ul {
      @apply list-disc list-inside;
      @apply mb-8;

      li {
        @apply mb-2;
      }
    }

    ol {
      @apply list-decimal list-inside;
      @apply mb-8;

      li {
        @apply mb-2;
        p {
          display: inline
        }
      }
    }


    p, ol, ul {
      code {
        @apply bg-gray-200;
        @apply px-1 rounded;
        border: 1px solid #ddd;
        font-family: 'Fira Code', monospace;
        font-size: 0.9em;
      }

      pre {
        @apply block mb-4;
        code {
          background: none;
          border: none;

        }
      }
    }


    hr {
      @apply mb-8;
    }

    strong {
      @apply font-bold;
      @apply p-2;
      background: #ffc;
    }
  }

}

/* Dracula Theme for Code Blocks */
code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.3em;
  background: #282a36;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
  background: #282a36;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #6272a4;
}

.token.punctuation {
  color: #f8f8f2;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #ff79c6;
}

.token.boolean,
.token.number {
  color: #bd93f9;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #50fa7b;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #f1fa8c;
}

.token.keyword {
  color: #8be9fd;
}

.token.regex,
.token.important {
  color: #ffb86c;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

/* Line highlighting */
pre[class*="language-"] > code[class*="language-"] {
  position: relative;
  z-index: 1;
}

.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  background: hsla(24, 20%, 50%,.08);
  background: linear-gradient(to right, hsla(24, 20%, 50%,.1) 70%, hsla(24, 20%, 50%,0));
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}
