---
import BlogLayout from '../layouts/BlogLayout.astro';
---

<BlogLayout title="Page Not Found">
  <h1>404 - Page Not Found</h1>
  <p>Oops! The page you're looking for doesn't exist.</p>
  <p><a href="/">Return to Home</a></p>
</BlogLayout>