---
import { getCollection } from 'astro:content';
import BlogLayout from '../layouts/BlogLayout.astro';

const posts = await getCollection('blog');
---

<BlogLayout title="Home">
  <div class="posts">
    {
      posts.map((post) => (
        <a href={`/blog/${post.slug}/`} class="post-link block border-b border-gray-light pb-4 mb-16">
          <h2 class="post-title mb-0">{post.data.title}</h2>
          <p class="post-meta text-sm">{post.data.date}</p>
          <p class="post-excerpt">{post.data.excerpt || 'Read more...'}</p>
        </a>
      ))
    }
  </div>
</BlogLayout>
