---
import BlogLayout from '../layouts/BlogLayout.astro';
import { getAllPosts } from '../utils/posts';
import type { Post } from '../utils/posts';

const posts = await getAllPosts();
---

<BlogLayout title="Home">
  <div class="posts">
    {
      posts.map((post) => (
        <a href={`/blog/${post.slug}/`} class="post-link block border-b border-gray-light pb-4 mb-16">
          <h2 class="post-title mb-0">{post.title}</h2>
          <p class="post-meta text-sm">{post.date}</p>
          <p class="post-excerpt">{post.excerpt || 'Read more...'}</p>
        </a>
      ))
    }
  </div>
</BlogLayout>
