---
const { title } = Astro.props;
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EJ3RHGXYJM"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-EJ3RHGXYJM');
    </script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title ? `${title} - Wilbur Suero` : "Wilbur Suero"}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Signika:wght@300..700&display=swap" rel="stylesheet">
  </head>
  <body class="bg-base text-near-black font-signika">
    <div class="container mx-auto px-6">
      <header class="py-2 border-b-2 border-gray-light">
        <div class="flex justify-between items-center">
          <h1 class="text-3xl font-bold font-signika"><a href="/">Wilbur Suero - No Magic, Just Systems</a></h1>
          <nav>
            <ul class="flex space-x-8">
              <li><a href="/" class="text-gray-dark hover:text-near-black">Home</a></li>
              <li><a href="/about" class="text-gray-dark hover:text-near-black">About</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <main class="main-content py-8">
        <slot />
      </main>
      <hr class="border-gray-light">
      <footer class="py-16 text-center text-gray-medium">
        <p>Crafted by <strong>Wilbur Suero</strong>, a Software Engineer passionate about building innovative solutions.</p>
        <p>
          <a href="https://calendly.com/suerowilbur/30min" target="_blank" rel="noopener noreferrer" class="text-gray-dark hover:text-near-black">Schedule a consultation</a> ·
          <a href="mailto:suerowilbur@gmail.com" target="_blank" rel="noopener noreferrer" class="text-gray-dark hover:text-near-black">Email me</a> ·
          <a href="https://github.com/wilburhimself" target="_blank" rel="noopener noreferrer" class="text-gray-dark hover:text-near-black">GitHub</a> ·
          <a href="https://linkedin.com/in/wilbursuero" target="_blank" rel="noopener noreferrer" class="text-gray-dark hover:text-near-black">LinkedIn</a>
        </p>
      </footer>
    </div>
  </body>
</html>
